<!--<h1>About us and our contacts<h1>
<div class="c-panel float-right">

    <a href="https://www.google.com/maps/d/viewer?msa=0&hl=en&ie=UTF8&t=m&ll=57.14397000000001%2C-2.123709000000009&spn=0.016298%2C0.047207&z=14&source=embed&showlabs=1&mid=1frd93bqFQ5W9KUQfKl9QDIwYG6M">
        <img src="https://www.google.com/maps/d/thumbnail?mid=1frd93bqFQ5W9KUQfKl9QDIwYG6M&hl=en"/>
    </a><h5>Click on the image for more details about out location </h5>

</div>

<h4>Feel Free to contact us </h4>
<h5> Our Email: </h5>
RandomEmailSupport@Random.com

<h5> Our Phone number </h5>
1234567910
-->
<head>
    <link rel="stylesheet" href="~/css/Add.css">
</head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div class="container-fluid">
    <h1 class="text-center">Contact Address</h1>
    <hr>
    <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977" width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="row text-center">
        <div class="col-4 box1 pt-4">
            <a href="tel:+123456789">
                <i class="fas fa-phone fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                <p class="d-none d-lg-block d-xl-block">+123 456 789 10</p>
            </a>
        </div>
        <div class="col-4 box2 pt-4">
            <a href="">
                <i class="fas fa-home fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                <p class="d-none d-lg-block d-xl-block">Random Adress</p>
            </a>
        </div>
        <div class="col-4 box3 pt-4">
            <a href="mailto:flag@flag.com">
                <i class="fas fa-envelope fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                <p class="d-none d-lg-block d-xl-block">flag@flag.com</p>
            </a>
        </div>
    </div>
</div>



<div class="row text-center bg-white text-white" id="author">
    <div class="col-12 mt-4 h3 ">
        <p style="color: black">Contacts of the creator - Krustyo Petrov </p>
    </div>
    <div class="col-12 my-2">
        <a href="https://www.linkedin.com/in/kru98petrov/" target="_blank"><i class="fab fa-linkedin fa-4x" style="color: #0072b1"></i></a>
        <a href="https://github.com/HelloItsKay" target="_blank"><i class="fab fa-github fa-4x" style="color: #6e5494"></i></a>
        <a href="https://www.facebook.com/profile.php?id=100005254744830" target="_blank"><i class="fab fa-facebook fa-4x" style="color: #3b5998"></i></a>
    </div>

    <div class="col-12 my-2">
    </div>
</div>

