<h1>About us and our contacts<h1> 
<div class="c-panel float-right"> 
  
    <a href="https://www.google.com/maps/d/viewer?msa=0&hl=en&ie=UTF8&t=m&ll=57.14397000000001%2C-2.123709000000009&spn=0.016298%2C0.047207&z=14&source=embed&showlabs=1&mid=1frd93bqFQ5W9KUQfKl9QDIwYG6M">
        <img src="https://www.google.com/maps/d/thumbnail?mid=1frd93bqFQ5W9KUQfKl9QDIwYG6M&hl=en"/> 
    </a><h5>Click on the image for more details about out location </h5>

</div>

<h4>Feel Free to contact us </h4>
<h5> Our Email: </h5>
RandomEmailSupport@Random.com

<h5> Our Phone number </h5>
1234567910


