@model DrinkFormModel
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Add Drink";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/css/Add.css">
    <script src="	https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<form method="post">
  
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">

            <div class="col-md-6">
                <h1 align="center">Add Drink</h1>
                <div class="card px-5 py-5">

                    <div class="form-data" v-if="!submitted">
                        <div class="forms-inputs mb-4">
                            <span>Enter drink name</span>
                            <input asp-for="Name" class="form-control">
                        </div>
                        <span asp-validation-for="Name" class="small text-danger"></span>

                        <div class="forms-inputs mb-4">
                            <span>Enter short description</span>
                            <textarea asp-for="ShortDescription" rows="5" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="ShortDescription" class="small text-danger"></span>

                        <div class="forms-inputs mb-4">
                            <span>Enter long description</span>
                            <textarea asp-for="LongDescription" rows="5" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="LongDescription" class="small text-danger"></span>

                        <div class="forms-inputs mb-4">
                            <span>Price</span>
                            <input asp-for="Price" class="form-control">
                        </div>
                        <span asp-validation-for="Price" class="small text-danger"></span>

                        <div class="forms-inputs mb-4">
                            <span>Category</span>
                            <select asp-for="CategoryId" class="form-control">
                                @foreach (var category in Model.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span>Image Url</span>
                            <input asp-for="ImageThumbnailUrl" class="form-control">
                        </div>
                        <span asp-validation-for="ImageThumbnailUrl" class="small text-danger"></span>


                        <span asp-validation-for="ImageThumbnailUrl" class="small text-danger"></span>

                        <div class="forms-inputs mb-4">
                            <span>Image Url</span>
                            <input asp-for="ImageUrl" class="form-control">
                        </div>
                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>


                        <span asp-validation-for="ImageUrl" class="small text-danger"></span>

                        <input class="btn btn-dark w-100"type="submit" value="Add">
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
