<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dizzy Bar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                    <li class="dropdown" >
                            <a asp-controller="Drinks"asp-action="AllDrinks"class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Drinks<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <a class="dropdown-item" asp-controller="Drinks" asp-action="NonAlcoholicDrinks" asp-route-category="">Non-alcoholic</a>

                                <a class="dropdown-item" asp-controller="Drinks" asp-action="AlcoholicDrinks" asp-route-category="">Alcoholic drinks</a>

                                <div class="dropdown-divider"></div>
                                
                                <a class="dropdown-item" asp-controller="Drinks" asp-action="AllDrinks" asp-route-category="">View all drinks</a>
                            </ul>
                        </li>
                        
                        <form class="navbar-form navbar-right" asp-controller="Drinks" asp-action="Serch" method="get">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for a drink" name="serchingTerm" value="@ViewData["serchingTerm"]">
                            </div>
                        </form>
                        

                        
                        
                        
                        

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ASP.NET_Core_OnlineShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
