@using Microsoft.AspNetCore.Identity
@using ASP.NET_Core_OnlineShop.Data.Models
@using ASP.NET_Core_OnlineShop.Services
@using Microsoft.AspNetCore.Http
@inject IHashingService hashingService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<ul class="navbar-nav">
   @if (SignInManager.IsSignedIn(User))
   {
       if (User.Identity.IsAuthenticated)
       {
            
           <li class="nav-item">
               <a class="btn btn-info " asp-area="" asp-controller="ShoppingCart" asp-action="MyCart">MyCart</a>
           </li>

           <li class="nav-item">

               <a class="btn btn-info " asp-area="" asp-controller="Order" asp-action="MyOrders" asp-route-username="@hashingService.Encrypt(User.Identity.Name)">Orders history</a>

           </li>
       }
   }
    
    @if (SignInManager.IsSignedIn(User))
    {   
        @if (User.Identity.IsAuthenticated && User.IsInRole(AdministratorRoleName))
        {

            <li class="nav-item">
                <a class="btn btn-success " asp-area="" asp-controller="Drinks" asp-action="Add">Add Drink</a>
            </li>

        }

        <li class="nav-item">
            <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
